spring:
  application:
    name: localtube

  # Test Database Configuration
  datasource:
    url: jdbc:sqlserver://555-PTSVBZ:65388;instanceName=SQLEXPRESS;databaseName=test_portal;encrypt=true;trustServerCertificate=true
    username: sa
    password: 123
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      connection-timeout: 5000

  # Test JPA Configuration
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.SQLServerDialect
        default_schema: dbo

  # Test Server Configuration
  server:
    port: 8080

# Test JWT Configuration
jwt:
  secret: 4gTduyxJahQatgIkxwGErvADeIjfdulxI98B8bAGUOKStnBVTyngXfU5jM1rMbVR

# Test Logging
logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    az.dev.localtube: DEBUG